@font-face {
  font-family: Azeretmono;
  src: url("./assets/fonts/AzeretMono-Regular.ttf");
}
@import "tailwindcss";
@theme {
  --text-nav: 24px;
  --text-header: 108px;

  --font-mono: Azeretmono, "sans-serif";

  --color-primary: #432818;
  --color-btnprimary: #6f1d1b;
  --color-navbg: #ffe6a7;

  --spacing-primary: 95px;
}
html {
  scroll-behavior: smooth;
}
